*{
    box-sizing: border-box;
}

body,
input,
textarea {
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 25px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive; 
}

h1{
    font-size: 2.4rem;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav li a {
    color: #ecf0f1;
    font-size: 1.1rem;
    text-decoration: none;
}

.header-container,
.section-container,
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.section-container img {
    margin-right: 3.3vw;
    max-width: 45vw;
}

.brands-list img {
    height: 3.1vh;
    margin-right: 1vw;
}

.brands-list li {
    display: inline;
}

section {
    padding: 24px 0;
    color:  #182c61;
}

section h2 {
    margin-bottom: 16px;
    font-size: 1.3rem;
}

section p {
    margin-bottom: 8px;
}

/* Início da estilização da seção contatos */

.section-contacts {
    display: block;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

form input,
form textarea,
form button {
    display: block;
    width: 25vw;
    margin-bottom: 8px;
    padding: 8px;
}

.contacts-methods {
    display: flex;
    justify-content: space-between;
}

/* Propriedade resize usada para que o tamanho da caixa de mensagem não possa ser alterada pelo usuário. */
form textarea {
    resize: none;
    height: 23.2vh;
}

.social-links img {
    height: 3.1vh;
    margin-right: 1vw;
}

.social-links li {
    display: inline;
}

.social-links li a {
    text-decoration: none;
}

section h3 {
    margin-bottom: 2vh;
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

form button:hover{
    background-color: #2b468e;
}

input:focus,
textarea:focus {
    color: #182c61;
}

/* Início da estilização do Footer */

footer {
    padding: 12px 0;
    background-color: #182c61;
    color: #ecf0f1;
}